@tailwind base;

@tailwind components;

@tailwind utilities;

*{
    font-family: Roboto, Helvetica, sans-serif;
}

button {
    outline:none !important;
}

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
